@import "tailwindcss";

@theme {
  --color-primary: #49557e;
  /* --color-primary-light: #43538f; */
  --color-primary-light: #7083c3;
  --color-whitesmoke: #f5f5f2;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
  @apply hidden
}