@import "tailwindcss";

@theme {

  /* Original BK: lg	64rem (1024px) 2xl	96rem (1536px) */
  --breakpoint-xs: 26rem; /* (416px) */
  --breakpoint-sm: 32.5rem; /* (520px) */
  --breakpoint-md: 45rem; /* (720px) */
  --breakpoint-xl: 75rem; /* (1200px) */

  --color-accent: #c3cebf;
  --color-primary: #43538f;
  --color-light: #ccdeec;
  --color-med: #afd2ec;
  --color-whitesmoke: #f5f5f2;

   --shadow-navbar: 0 0 0 white, 0em 0.25em 1.5em #e5ebf1;
   --shadow-navButtonIn: 3px 3px 6px rgb(225, 225, 240), inset -2px -2px 3px #7f9fc8;
   --shadow-header: inset 5px 5px 10px rgba(200, 230, 190, 0.6), inset -5px -5px 10px rgba(200, 230, 190, 0.6), -5px -5px 9px whitesmoke, 5px 5px 7px #5e687949 ; 
   --shadow-buttonOut: -5px -5px 9px rgb(180, 180, 180), 5px 5px 7px #5e687949 ; 
   --shadow-buttonIn: inset -3px -3px 10px rgb(220, 220, 220), inset 5px 5px 7px #5e687949 ;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

/* // Min ph 320 standard ph 420
Original Breakpoint prefix	Minimum width	CSS
// xs: 26rem (416px) -  Customized
// sm	40rem (640px)	@media (width >= 40rem) { ... }
// md	48rem (768px)	@media (width >= 48rem) { ... }
// lg	64rem (1024px)	@media (width >= 64rem) { ... }
// xl	80rem (1280px)	@media (width >= 80rem) { ... }
// 2xl	96rem (1536px)	@media (width >= 96rem) { ... } */